@charset "UTF-8";

/*
 * @Description: css重置样式
 * @Date: 2020-03-19 10:21:53
 * @version：v1.0
 */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:focus {
    outline: none;
    border: none;
}

img {
    border: 0;
    vertical-align: middle;
}

input,
button {
    vertical-align: middle;
    border: none;
}

textarea {
    border: none;
    resize: none;
}

input,
textarea {
    box-sizing: content-box;
    background: 0 0;
    font-family: "Microsoft YaHei";
}

input {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #acacac;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #acacac;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #acacac;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #acacac;
}

.rt {
    float: right;
}

.lf {
    float: left;
}

body {
    color: #333;
    font-family: "Microsoft YaHei";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

table tr td,
table {
    border-collapse: collapse;
}


/*清除浮动*/

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}


/****************************************动画****************************************/


/* 鼠标经过图片放大 */

.act-big a {
    overflow: hidden;
}

.act-big a img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.act-big a:hover img {
    -webkit-transform: translate3d(0, 0, 0) scale(1.05);
    -moz-transform: translate3d(0, 0, 0) scale(1.05);
    -ms-transform: translate3d(0, 0, 0) scale(1.05);
    -o-transform: translate3d(0, 0, 0) scale(1.05);
    transform: translate3d(0, 0, 0) scale(1.05);
}


/* 鼠标经过抖动动画 */

.act-rotate a:hover img {
    animation: myrotate 0.5s;
    -moz-animation: myrotate 0.5s;
    -webkit-animation: myrotate 0.5s;
    -o-animation: myrotate 0.5s;
}

@keyframes myrotate {
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Firefox */

@-moz-keyframes myrotate {
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Safari 和 Chrome */

@-webkit-keyframes myrotate {
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Opera */

@-o-keyframes myrotate {
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/*图片hover 透明度*/

.act-imgop a:hover img {
    opacity: 0.8;
    filter: alpha(opacity=80);
}


/****************************************功能类****************************************/

.f-otw {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.f-oh {
    overflow: hidden;
}

.f-oh2 {
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.f-oh3 {
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.f-oh4 {
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.f-oh5 {
    overflow: hidden;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.f-csp {
    cursor: pointer;
}

.f-csd {
    cursor: default;
}

.f-csh {
    cursor: help;
}

.f-csm {
    cursor: move;
}

.f-csna {
    cursor: not-allowed;
}

.f-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.f-dn {
    display: none;
}

.f-db {
    display: block;
}

.f-df {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.f-tdu,
.f-tdu:hover {
    text-decoration: underline;
}

.f-pr {
    position: relative;
}

.f-fwn {
    font-weight: normal;
}

.f-fwb {
    font-weight: bold;
}

.f-tal {
    text-align: left;
}

.f-tac {
    text-align: center;
}

.f-tar {
    text-align: right;
}

.f-mcen {
    margin: 0 auto;
}

.f-mt10 {
    margin-top: 10px;
}

.f-mt15 {
    margin-top: 15px;
}

.f-mt20 {
    margin-top: 20px;
}

.f-mt50 {
    margin-top: 50px;
}

.f-plr10 {
    padding: 0 10px;
}

.f-plr15 {
    padding: 0 15px;
}
/* html {
    font-size: 100px
} */
@media screen and (max-width: 1593px) {
    html {
        font-size: 99.70393105px
    }
}

@media screen and (max-width: 1583px) {
    html {
        font-size: 99.21737215px
    }
}

@media screen and (max-width: 1573px) {
    html {
        font-size: 98.73942489999999px
    }
}

@media screen and (max-width: 1563px) {
    html {
        font-size: 98.2700893px
    }
}

@media screen and (max-width: 1553px) {
    html {
        font-size: 97.80936535000001px
    }
}

@media screen and (max-width: 1543px) {
    html {
        font-size: 97.3572531px
    }
}

@media screen and (max-width: 1533px) {
    html {
        font-size: 96.9137525px
    }
}

@media screen and (max-width: 1523px) {
    html {
        font-size: 96.47886355px
    }
}

@media screen and (max-width: 1513px) {
    html {
        font-size: 96.05258624999999px
    }
}

@media screen and (max-width: 1503px) {
    html {
        font-size: 95.63492065px
    }
}

@media screen and (max-width: 1493px) {
    html {
        font-size: 95.22586670000001px
    }
}

@media screen and (max-width: 1483px) {
    html {
        font-size: 94.8254244px
    }
}

@media screen and (max-width: 1473px) {
    html {
        font-size: 94.43359375px
    }
}

@media screen and (max-width: 1463px) {
    html {
        font-size: 94.05037480000001px
    }
}

@media screen and (max-width: 1453px) {
    html {
        font-size: 93.67576745px
    }
}

@media screen and (max-width: 1443px) {
    html {
        font-size: 93.30977185px
    }
}

@media screen and (max-width: 1433px) {
    html {
        font-size: 92.95238785000001px
    }
}

@media screen and (max-width: 1423px) {
    html {
        font-size: 92.6036155px
    }
}

@media screen and (max-width: 1413px) {
    html {
        font-size: 92.26345484999999px
    }
}

@media screen and (max-width: 1403px) {
    html {
        font-size: 91.93190584999999px
    }
}

@media screen and (max-width: 1393px) {
    html {
        font-size: 91.60896855000001px
    }
}

@media screen and (max-width: 1383px) {
    html {
        font-size: 91.29464284999999px
    }
}

@media screen and (max-width: 1373px) {
    html {
        font-size: 90.98892885px
    }
}

@media screen and (max-width: 1363px) {
    html {
        font-size: 90.6918265px
    }
}

@media screen and (max-width: 1353px) {
    html {
        font-size: 90.40333580000001px
    }
}

@media screen and (max-width: 1343px) {
    html {
        font-size: 90.12345679999999px
    }
}

@media screen and (max-width: 1333px) {
    html {
        font-size: 89.85218945px
    }
}

@media screen and (max-width: 1323px) {
    html {
        font-size: 89.58953375px
    }
}

@media screen and (max-width: 1313px) {
    html {
        font-size: 89.33548970000001px
    }
}

@media screen and (max-width: 1303px) {
    html {
        font-size: 89.09005730000001px
    }
}

@media screen and (max-width: 1293px) {
    html {
        font-size: 88.85323659999999px
    }
}

@media screen and (max-width: 1283px) {
    html {
        font-size: 88.62502755px
    }
}

@media screen and (max-width: 1273px) {
    html {
        font-size: 88.40543015px
    }
}

@media screen and (max-width: 1263px) {
    html {
        font-size: 88.19444445px
    }
}

@media screen and (max-width: 1253px) {
    html {
        font-size: 87.9920704px
    }
}

@media screen and (max-width: 1243px) {
    html {
        font-size: 87.79830799999999px
    }
}

@media screen and (max-width: 1233px) {
    html {
        font-size: 87.61315725px
    }
}

@media screen and (max-width: 1223px) {
    html {
        font-size: 87.43661814999999px
    }
}

@media screen and (max-width: 1213px) {
    html {
        font-size: 87.26869074999999px
    }
}

@media screen and (max-width: 1203px) {
    html {
        font-size: 87.109375px
    }
}

@media screen and (max-width: 1193px) {
    html {
        font-size: 86.9586709px
    }
}

@media screen and (max-width: 1183px) {
    html {
        font-size: 86.8165785px
    }
}

@media screen and (max-width: 1173px) {
    html {
        font-size: 86.6830977px
    }
}

@media screen and (max-width: 1163px) {
    html {
        font-size: 86.5582286px
    }
}

@media screen and (max-width: 1153px) {
    html {
        font-size: 86.4419712px
    }
}

@media screen and (max-width: 1143px) {
    html {
        font-size: 86.3343254px
    }
}

@media screen and (max-width: 1133px) {
    html {
        font-size: 86.2352913px
    }
}

@media screen and (max-width: 1123px) {
    html {
        font-size: 86.14486885px
    }
}

@media screen and (max-width: 1113px) {
    html {
        font-size: 86.06305805px
    }
}

@media screen and (max-width: 1103px) {
    html {
        font-size: 85.9898589px
    }
}

@media screen and (max-width: 1093px) {
    html {
        font-size: 85.92527145px
    }
}

@media screen and (max-width: 1083px) {
    html {
        font-size: 85.86929565px
    }
}

@media screen and (max-width: 1073px) {
    html {
        font-size: 85.8219315px
    }
}

@media screen and (max-width: 1063px) {
    html {
        font-size: 85.783179px
    }
}

@media screen and (max-width: 1053px) {
    html {
        font-size: 85.7530382px
    }
}

@media screen and (max-width: 1043px) {
    html {
        font-size: 83.19881013396645px
    }
}

@media screen and (max-width: 1033px) {
    html {
        font-size: 80.74553253795425px
    }
}

@media screen and (max-width: 1023px) {
    html {
        font-size: 78.35710652172894px
    }
}

@media screen and (max-width: 1013px) {
    html {
        font-size: 76.03191933313745px
    }
}

@media screen and (max-width: 1003px) {
    html {
        font-size: 73.76839678948095px
    }
}

@media screen and (max-width: 993px) {
    html {
        font-size: 73.02551263248718px
    }
}

@media screen and (max-width: 983px) {
    html {
        font-size: 72.28262847549341px
    }
}

@media screen and (max-width: 973px) {
    html {
        font-size: 71.53974431849964px
    }
}

@media screen and (max-width: 963px) {
    html {
        font-size: 70.79686016150588px
    }
}

@media screen and (max-width: 953px) {
    html {
        font-size: 70.05397600451212px
    }
}

@media screen and (max-width: 943px) {
    html {
        font-size: 69.31109184751837px
    }
}

@media screen and (max-width: 933px) {
    html {
        font-size: 68.56820769052462px
    }
}

@media screen and (max-width: 923px) {
    html {
        font-size: 67.82532353353086px
    }
}

@media screen and (max-width: 913px) {
    html {
        font-size: 67.0824393765371px
    }
}

@media screen and (max-width: 903px) {
    html {
        font-size: 66.33955521954333px
    }
}

@media screen and (max-width: 893px) {
    html {
        font-size: 65.59667106254956px
    }
}

@media screen and (max-width: 883px) {
    html {
        font-size: 64.8537869055558px
    }
}

@media screen and (max-width: 873px) {
    html {
        font-size: 64.11090274856203px
    }
}

@media screen and (max-width: 863px) {
    html {
        font-size: 63.36801859156826px
    }
}

@media screen and (max-width: 853px) {
    html {
        font-size: 62.62513443457449px
    }
}

@media screen and (max-width: 843px) {
    html {
        font-size: 61.882250277580724px
    }
}

@media screen and (max-width: 833px) {
    html {
        font-size: 61.13936612058696px
    }
}

@media screen and (max-width: 823px) {
    html {
        font-size: 60.396481963593196px
    }
}

@media screen and (max-width: 813px) {
    html {
        font-size: 59.65359780659943px
    }
}

@media screen and (max-width: 803px) {
    html {
        font-size: 58.91071364960566px
    }
}

@media screen and (max-width: 793px) {
    html {
        font-size: 58.167829492611894px
    }
}

@media screen and (max-width: 783px) {
    html {
        font-size: 57.424945335618126px
    }
}

@media screen and (max-width: 773px) {
    html {
        font-size: 56.682061178624366px
    }
}
@media screen and (max-width: 768px) {
    html {
        /*font-size: 55.9391770216306px;*/
        /*font-size: calc(100vw * (14 / 105)) !important;//鎵嬫満绔嚜閫傚簲*/
        font-size: 50px;
    }
    body {
        font-family: "Microsoft YaHei";
        font-size: .32rem;
    }
}

@media screen and (max-width: 374px) {
    html{
        font-size: 43.75px;
    }
}